<!doctype html>

{% load staticfiles %}
<script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
<script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
<script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
<link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}">
<link type="text/css" rel="stylesheet/less" href="{% static "less/about.less" %}"/>
<link type="text/css" rel="stylesheet/less" href="{% static "less/header.less" %}"/>
<script src="{% static "js/less.min.js" type="text/javascript" %}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>About Us</title>

<script id="about-template" type="text/template">
<div class="section grey lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h1 class="grey-text text-darken-4">About Us</h1>
                <div class="divider"></div>
                <img class="main_img" src="{% static "img/civiwiki_about_tree.png" %}">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m8 l10 offset-m2 offset-l1">
                <h5 class="center grey-text text-darken-2">
                    General Info about CiviWiki
                </h5>
            </div>
        </div>
    </div>
</div>
<div class="section white">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h3 class="deep-purple-text">Our Mission</h3>
                <div class="divider"></div>
                <div class="col s12 m8 l10 offset-m2 offset-l1">
                    <h5 class="center grey-text text-darken-2">
                        Mission/Goal should go here
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section grey lighten-4 meet_team">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h3 class="deep-purple-text">The Team</h3>
                <div class="divider"></div>
                <div class="row">
                    <h4 class="deep-purple-text text-lighten-2">Hult Prize</h4>
                </div>
                <div class="row">
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_mitchell_west.png" %}">
                        <h5 class="grey-text text-darken-2">Mitchell West</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_default.png" %}">
                        <h5 class="grey-text text-darken-2">Teja Mysore</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_default.png" %}">
                        <h5 class="grey-text text-darken-2">Darius Calliet</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_joohee_lee.png" %}">
                        <h5 class="grey-text text-darken-2">Joohee Lee</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                </div>
                <div class="row">
                    <h4 class="deep-purple-text text-lighten-2">Development</h4>
                </div>
                <div class="row">
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_default.png" %}">
                        <h5 class="grey-text text-darken-2">Dan Borstelmann</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img src="{% static "img/team_profile/team_default.png" %}">
                        <h5 class="grey-text text-darken-2">Lawrance Fung</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_grace_lu.png" %}">
                        <h5 class="grey-text text-darken-2">Grace Lu</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                    <div class="col s12 m6 l3">
                        <img src="{% static "img/team_profile/team_paul_sheid.png" %}">
                        <h5 class="grey-text text-darken-2">Paul Scheid</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_cameron_wong.png" %}">
                        <h5 class="grey-text text-darken-2">Cameron Wong</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                </div>
                <div class="row">
                    <h4 class="deep-purple-text text-lighten-2">Extra People</h4>
                </div>
                <div class="row">
                    <div class="col s12 m6 l3">
                        <img class="img-circle" src="{% static "img/team_profile/team_jon_sheldon.png" %}">
                        <h5 class="grey-text text-darken-2">Jon Sheldon</h5>
                        <p class="grey-text text-lighten-1">Position</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section white">
    <div class="container">
        <div class="col s12 center">
            <h3 class="deep-purple-text">Sponsors</h3>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <img class="sponsor_logos" src="{% static "img/logo_sponsor_gephardt.png" %}">
                </div>
                <div class="col s12 m6 l6">
                    <h5 class="center grey-text">
                        Gephardt Institute for Civic and Community Engagement
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <img class="sponsor_logos" src="{% static "img/logo_sponsor_skandalaris.png" %}">
                </div>
                <div class="col s12 m6 l6">
                    <h5 class="center grey-text">
                        The Skandalaris Center for Entrepreneurial Studies
                    </h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <img class="sponsor_logos" src="{% static "img/logo_sponsor_gusf.png" %}">
                </div>
                <div class="col s12 m6 l6">
                    <h5 class="center grey-text">
                        The Greater University Service Foundation
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
</script>

<body>
  <!--NAVBAR WITH LINKS TO LOGIN, REGISTER, SUPPORT_US AND MEET THE TEAM-->
  <nav>
      <div class="nav-wrapper deep-purple darken-1">
          <a href="/login" class="brand-logo"><img id="logo_pic" src="{% static "img/civiwiki_logo_white_sm.png" %}"></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% if request.user.is_authenticated %}
              <li><a href="#">WELCOME {{ request.user.username }}</a></li>
              <li><a href="/supportus" class="waves-effect waves-light btn-lg grey-text text-lighten-4">SUPPORT US</a></li>
              <li><a class="waves-effect waves-light btn-lg grey-text text-lighten-4">MEET THE TEAM</a></li> <!--This link does not exist at the moment-->
              <li><a href="/api/logout">LOGOUT</a></li>
              {% else %}
              <li><a href="/supportus" class="waves-effect waves-light btn-lg grey-text text-lighten-4">SUPPORT US</a></li>
              <li><a class="waves-effect waves-light btn-lg grey-text text-lighten-4">MEET THE TEAM</a></li> <!--This link does not exist at the moment-->
              <li><a href="/login">LOGIN</a></li>
              {% endif %}

          </ul>
      </div>
  </nav>
    <div id="about">
    </div>
</body>

<!-- Backbone Views File -->
<script src="/static/views/about_view.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){

});
</script>
</html>
