<!doctype html>

<head>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet/less" href="{% static "less/account_base.less" %}"/>

    {% include "basics/links.html" %}

    <title>CiviWiki</title>
</head>

<script id="base-template" type="text/template">
    {% include "basics/nav.html" %}
    <div class="base-template-inner">
        <div class="row">
            <div class="col s3">
                <div class="center-align">
                    <span class="user-name">
                        <%- user.first_name %> <%- user.last_name %>
                    </span>
                </div>
                <div class="center-align">
                    <img class="user-profile-pic" src="<%= user.profile_image %>">
                </div>
                <div class="center-align">
                    <span class="user-description">
                        A little about me...
                        <!-- <%- user.description %> -->
                    </span>
                </div>
            </div>
            <div class="col s9">
                <ul class="tabs purple-text">
                    <li class="tab col s3"><a class="purple-text" href="#following">Following</a></li>
                    <li class="tab col s3"><a class="purple-text" href="#friends">Friends</a></li>
                    <li class="tab col s3"><a class="active purple-text" href="#interests">Interests</a></li>
                    <li class="tab col s3"><a class="purple-text" href="#groups">Groups</a></li>
                    <li class="tab col s3"><a class="purple-text" href="#user_data">Your Account</a></li>
                    <div class="indicator purple-background" style="z-index:1"></div>
                </ul>
            </div>
            <div id="following" class="col s9">

            </div>
            <div id="friends" class="col s9">

            </div>
            <div id="interests" class="col s9">

            </div>
            <div id="groups" class="col s9">

            </div>
            <div id="user_data" class="col s9">

            </div>
        </div>
    </div>
</script>
<script id="interest-tab-template" type="text/template">
    <div>
        <% _.each(interest, function(eachInterest) { %>
            <% var temp = eachInterest.name.replace(/ /g,'') %>
            <%var temp1 = temp;%>
            <% temp =  "static/img/interest_pics/" + temp+".jpg"%>

            <div class="card interest-item small" data-id="<%= eachInterest.name %>">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src=<%= temp %>>
                </div>

                <div class="card-content red">
                    <span class="card-title activator grey-text text-darken-4"><%- eachInterest.name %><i class="material-icons right">more_vert</i></span>
                    <% if (JSON.parse(user.interests).indexOf(eachInterest.name) == -1 ) {%>
                        <p><a class = "followInterest" href="javascript:void(0);" id ="<%= eachInterest.id %>">Click Here to Follow</a></p>
                    <%} else{ %>  <p><a class = "followInterest" href="javascript:void(0);" id ="<%= eachInterest.id %>">Click Here to Unfollow</a></p> <%};%>
                </div>

                <div class="card-reveal red">
                    <span class="card-title grey-text text-darken-4"><%- eachInterest.name %><i class="material-icons right">close</i></span>
                    <p><%- eachInterest.name %> has an id of <%- eachInterest.id %></p>
                     <% if (JSON.parse(user.interests).indexOf(eachInterest.name) == -1 ) {%>
                        <p><a class = "followInterest" href="javascript:void(0);" id =<%= temp1 %>>Click Here to Follow</a></p>
                    <%} else{ %>  <p><a class = "followInterest" href="javascript:void(0);" id =<%= temp1 %>>Click Here to Unfollow</a></p> <%};%>
                </div>
            </div>

        <% }); %>
    </div>
</script>

<body>
    <div id="account-base">
    </div>
</body>

<!-- Backbone Views File -->
<script src="/static/views/account_base_view.js" type="text/javascript"></script>

<script>
    var data = {{user_data|safe}};

    var userModel = new Backbone.Model(data);
    var accountBaseView = new AccountBaseView({
        userModel: userModel
    });
</script>

</html>
