<!doctype html>

<head>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link type="text/css" rel="stylesheet/less" href="{% static "less/basicClasses.less" %}"/>
    <link type="text/css" rel="stylesheet/less" href="{% static "less/dbview.less" %}"/>
    <script src="{% static "js/less.min.js" type="text/javascript" %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>CiviWiki</title>
</head>

<script>
    var categoriesCollection = new Backbone.Collection({{categories|safe}});
</script>

<script id="categories-template" type="text/template">
    <div class="db-list">
        <% _.each(categories, function(cat) { %>
            <div class="db-list-item" data-id="<%= cat.id %>">
                <%- cat.name %>
            </div>
        <% }); %>
    </div>
</script>

<body>
    <div class="row">
        <div id="dbview">
            <div class="col s3 categories-holder no-padding">

            </div>
            <div class="col s3 topics-holder">

            </div>
            <div class="col s3 issues-holder">

            </div>
        </div>
    </div>
</body>

<!-- Backbone Views File -->
<script src="/static/models/civiModel.js" type="text/javascript"></script>
<script src="/static/collections/civiCollection.js" type="text/javascript"></script>
<script src="/static/views/dbView.js" type="text/javascript"></script>

<script>
    var databaseView = new DatabaseView({
        categories: categoriesCollection
    });
</script>

</html>
