<!doctype html>

<head>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link type="text/css" rel="stylesheet/less" href="{% static "less/login.less" %}"/>
    <script src="{% static "js/less.min.js" type="text/javascript" %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>CiviWiki</title>
</head>


<script id="login-template" type="text/template">
    <div class="container">
        <div class="section log-in-section">
            <div class="row">
                <div class="col s12 m12 l8 offset-l2">
                    <div class="row">
                        <div class="branding">
                            <h4>Welcome to CiviWiki!</h4>
                        </div>
                        <div class="col s12">
                            <div class="row login">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons">perm_identity</i>
                                    <input id="username" type="text" class="validate">
                                    <label for="username">Username</label>
                                </div>
                            </div>
                            <div class="row login">
                                <div class="input-field col s12 l6">
                                    <i class="material-icons">lock_outline</i>
                                    <input id="password" type="password" class="validate">
                                    <label for="password">Password</label>
                                </div>
                            </div>
                            <div id="login-register-action-buttons" class="row">
                                <div class="col s12 l4">
                                    <button id="log-in-button" class="btn waves-effect waves-light custom-buttons">Log In
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                                <div class="col s12 offset-l4 l4 right-align">
                                    <button id="open-register-form-button" class="btn waves-effect waves-light custom-buttons">Register?</button>
                                </div>
                            </div>
                            <div class="row register">
                                <div class="input-field col s12 l6">
                                    <input id="first-name" type="text" class="validate">
                                    <label for="first-name">First Name</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <input id="last-name" type="text" class="validate">
                                    <label for="last-name">Last Name</label>
                                </div>
                            </div>
                            <div class="row register">
                                <div class="input-field col s12 l6">
                                    <input id="email" type="email" class="validate">
                                    <label for="email">Email</label>
                                </div>
                                <div class="input-field col s12 l6">
                                    <label for="bday">Birthday</label>
                                    <input placeholder="1 January, 1990" id="bday" type="date" class="datepicker">
                                </div>
                            </div>
                            <div class="row register">
                                <div class="col s12 l4">
                                    <button id="register-button" class="btn waves-effect waves-light custom-buttons">Register
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                                <div class="col s12 l8 right-align">
                                    <button id="open-login-form-button" class="btn waves-effect waves-light">
                                        Already have an account? log in.
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<body>
    <div id="login">
    </div>
</body>

<!-- Backbone Views File -->
<script src="/static/views/login_view.js" type="text/javascript"></script>

</html>
