<!doctype html>

<head>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/underscore.js" %}"></script>
    <script type="text/javascript" src="{% static "js/backbone-min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}">
    <link type="text/css" rel="stylesheet/less" href="{% static "less/login.less" %}"/>
    <script src="{% static "js/less.min.js" type="text/javascript" %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>CiviWiki</title>
</head>


<script id="login-template" type="text/template">

        <!--NAVBAR WITH LINKS TO LOGIN, REGISTER, SUPPORT_US AND MEET THE TEAM-->
        <nav>
            <div class="nav-wrapper deep-purple darken-1">
                <a href="#" class="brand-logo"><img id="logo_pic" src="{% static "img/civiwiki_logo_white_sm.png" %}"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#login_modal" class="modal-trigger grey-text text-lighten-4">LOGIN</a></li>
                    <!--<li><a href="#register_section" class="grey-text text-lighten-4">REGISTER</a></li>-->
                    <li><a href="http://civiwiki.org/supportus" class="waves-effect waves-light btn-lg grey-text text-lighten-4">SUPPORT US</a></li>
                    <li><a class="waves-effect waves-light btn-lg grey-text text-lighten-4">MEET THE TEAM</a></li> <!--This link does not exist at the moment-->
                </ul>
            </div>
        </nav>

        <!--LOGIN MODAL-->
        <div id="login_modal" class="modal">
            <div class="modal-content">
            <form class="login-form">
                    <h4 class="center-align">Login</h4>
                    <div class="row container">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">perm_identity</i>
                            <input id="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row container">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div id="login-action-button" class="row login center-align">
                        <div class="col s12">
                            <button id="log-in-button" class="btn waves-effect waves-light custom-button purple lighten-3  center-align">Log In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!--BETA MODAL-->
        <!--This will be used temporarily but later in the future when a user registers they will be directed to a separate page-->
        <div id="beta_modal" class="modal">
            <div class="modal-content">
                <h1>Sorry!</h1>
                <p> We are currently in closed beta and to enter the site, you will need a to enter a beta-code.</p> 
                <p>Otherwise, please come back as soon as we advance to open beta!</p>
            </div>
        </div>

        <!--MAIN PAGE OF HOME WITH WELCOME & REGISTER SECTION-->
        <div id="whole-container">
            <div id="welcome-container">
                <div class="valign-wrapper">
                <div id="welcome-col" class="valign">

                    <!--WELCOME TO CIVIWIKI SECTION-->
                    <div class="welcome-section">
                        <div class="row container">
                        <h3>Welcome to CiviWiki!</h3>
                        <!--<img id="welcome_logo_pic" src="{% static "img/white_logo_copy.jpg"%}">-->
                        <p>Put general description of CiviWiki here</p>
                        </div>
                    </div>
                </div>

                <div id="register-col">
                        <!--REGISTER SECTION-->
                        <h5 id="sign-up" class="center-align purple-text text-darken-4">Need an account? Register!</h5>
                    <div id="register_section">
                        
                        <div class="row container">
                        <div class="input-field col s12 l10 offset-l1">
                            <i class="material-icons prefix">label</i>
                            <input id="first-name" type="text" class="validate">
                            <label for="first-name">First Name</label>
                        </div>
                        <div class="input-field col s12 l10 offset-l1">
                            <i class="material-icons prefix">label_outline</i>
                            <input id="last-name" type="text" class="validate">
                            <label for="last-name">Last Name</label>
                        </div>
                        <div class="input-field col s12 l10 offset-l1">
                            <i class="material-icons prefix">email</i>
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s12 l10 offset-l1">
                            <i class="material-icons prefix">perm_contact_calendar</i>
                            <label for="bday">Birthday</label>
                            <input placeholder="1 January, 1990" id="bday" type="date" class="datepicker">
                        </div>
                        <div class="input-field col s12 l10 offset-l1">
                            <i class="material-icons prefix">perm_identity</i>
                            <input id="username-register" type="text" class="validate">
                            <label for="username-register">Username</label>
                        </div>
                        <div class="input-field col s12 l10 offset-l1">
                            <i class="material-icons prefix">lock_outline</i>
                            <input id="password-register" type="password" class="validate">
                            <label for="password-register">Password</label>
                        </div>
                        <div class="input-field col s12 l10 offset-l1">
                            <i class="material-icons prefix">code</i>
                            <input id="beta-code" type="password" class="validate">
                            <label for="beta-code">Beta-Code</label>
                        </div>
                        <div class="col s12 offset-l8">
                            <a class="modal-trigger" href="#beta_modal">What is this?</a>
                        </div>
                    </div>
                    <div id="register-action-button" class="row register center-align">
                            <div class="col s12">
                                <button id="register-button" class="btn waves-effect waves-light custom-button purple lighten-3 center-align">Register</button>
                            </div>
                        </div>
                </div>
                </div>
            </div>
        </div>
</script>

<body class="grey lighten-4">
    <div id="login">
    </div>
    <div id="beta">
    </div>
</body>

<!-- Backbone Views File -->
<script src="/static/views/login_view.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(){
    // Following initializes parallax, an effect where the background moves slower than the foreground
    $('.modal-trigger').leanModal();
});
</script>
</html>
