{% extends "legalese.html"%}
{% block title %}
	Privacy Policy
{% endblock %}
	
{% block content %}
	<script>
		$(document).ready(function(){
			$("h2").click(function(){
				$("p").hide();
				var toggle_text = $(this).next();
				toggle_text.toggle();
				document.getElementById("right_pane").innerHTML = toggle_text.html();
			});
		})		
	</script>
	Privacy Policy
	<br>
	Have a question?  Tap on it for an answer		
	<div class="row">
		<!-- div on the left that shows the entries in the table of contents, and maybe the contents if the screen is small enough -->
		<div class="col s12 m4 l3" style="overflow-y:scroll;">
			<h2>Toggle</h2>
			<p style="display:none" class="hide-on-med-and-up">Content</p>				
			<h2>Toggle 2</h2>
			<p style="display:none" class="hide-on-med-and-up">Content 2</p>				
		</div>
		<br>	
		<!-- div on the right that shows the answers to the questoins when the screen is sufficintly large -->
		<div class="col s0 m8 l9 hide-on-small-only" id="right_pane" style="overflow-y:scroll;">					
		</div>		
	</div>	
{% endblock %}