{% load staticfiles %}

<nav>
    <div class="nav-wrapper deep-purple darken-1">
        <a href="/login" class="brand-logo"><img id="logo_pic" src="{% static "img/civiwiki_logo_white_sm.png" %}"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if request.user.is_authenticated %}
            <li><a href="#">WELCOME {{ request.user.username }}</a></li>
            <li><a href="/supportus" class="waves-effect waves-light btn-lg grey-text text-lighten-4">SUPPORT US</a></li>
            <li><a class="waves-effect waves-light btn-lg grey-text text-lighten-4">MEET THE TEAM</a></li> <!--This link does not exist at the moment-->
            <li><a href="/api/logout">LOGOUT</a></li>
            {% else %}
            <li><a href="/supportus" class="waves-effect waves-light btn-lg grey-text text-lighten-4">SUPPORT US</a></li>
            <li><a class="waves-effect waves-light btn-lg grey-text text-lighten-4">MEET THE TEAM</a></li> <!--This link does not exist at the moment-->
            <li><a href="/login">LOGIN</a></li>
            {% endif %}

        </ul>
    </div>
</nav>
