#account-base {

    .base-template-inner {
        margin-top: 20px;
    }

    .user-profile-pic {
        width: 200px;
        hieght: 200px;
    }
    
    .card {
        width:100%;
        height: auto;
    }
    .card-image1 {
       float: left;
       width: 40%;
       height: 250px;
    }
    .card-image {
       width: 100%;
       height: 250px;
    }
}
