html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
#login {
	.register {
        display: none;
    }
    #open-login-
    #login-action-button{
    	padding-top: 30px; 
    }
    #open-register-form-button{ //need to figure out a way to make this less hard-codey
    	display: block; 
    	width: 100%;
    }
    #open-login-form-button{
    	display: block; 
    	width: 100%; 
    }

}
