html,
body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    display: table-cell;
    vertical-align: middle;
}
#login {
	.branding{
		#login-img{
			display:inline-block; 
			vertical-align: center;

		}
		#login-txt{
			display:inline-block;
		}
	}
    .register {
        display: none;
    }
}
