
#login {
	.register {
        display: none;
    }
    #open-login-
    #login-action-button{
    	padding-top: 30px; 
    }
   
    /*#open-login-form-button{
    	display: block; 
    	width: 100%; 
    }*/

}
