container_commands:
  - namespace: 01_migrate
    option_name: command
    value: django-admin.py migrate
    option_name: leader_only
    value: true


option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DJANGO_SETTINGS_MODULE
    value: civiwiki.settings
    option_name: PYTHONPATH
    value: /opt/python/current/app/backend:$PYTHONPATH
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: civiwiki/wsgi.py
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/
    value: frontend/static/
