container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "civiwiki.settings"
    PYTHONPATH: "/opt/python/current/app/backend:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "civiwiki/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/":"frontend/static/"
